html, body {
  background-color: #eee;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}
#demo div {
  max-width: 600px;
  margin: 1em auto;
  padding: 0 1em;
  border: 1px dashed black;
}
#l10n, #json {
  margin: 0;
  padding: 0.2em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}
#l10n, #json, textarea, #data {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
